@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&family=DM+Sans:wght@300;400;500;600&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'DM Sans', sans-serif;
  --font-serif: 'Playfair Display', serif;
}

/* Scrollbar hiding */
::-webkit-scrollbar { width: 0; height: 0; }
* { scrollbar-width: none; }

/* Smooth scroll */
html { scroll-behavior: smooth; }
